<%- include('./includes/head.ejs') %>
</head>
<body>
    <%- include('./includes/navigation.ejs') %>
    
    <main>
        <div class="charity">
            <div class="container">
                <div class="card-body">
                    <h3>Các hoàn cảnh Quyên góp</h3>
                </div>
                <div class="card-deck">
                    <div class="card" style="width: 18rem;">
                        <img 
                            src="https://static.mservice.io/blogscontents/momo-upload-api-220804120412-637952114524645368.jpg" 
                            class="card-img-top" 
                            alt="..."
                        >
                        <div class="card-body">
                            <h5 class="card-title"> 
                                Cùng chung tay quyên góp xây dựng thêm phòng học mới Trường Tiểu học B Long Bình, tỉnh An Giang
                            </h5>
                            <p class="card-text">
                                Trăng Khuyết
                            </p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-primary">Quyên góp</a>
                        </div>
                    </div>

                    <div class="card" style="width: 18rem;">
                        <img 
                            src="https://static.mservice.io/blogscontents/momo-upload-api-220804120412-637952114524645368.jpg" 
                            class="card-img-top" 
                            alt="..."
                        >
                        <div class="card-body">
                            <h5 class="card-title">
                                Chung tay đem “Một Đêm Trăng Tròn” cho các cụ và các em nhỏ ở mái ấm có được một mùa Trung Thu cổ truyền đầy niềm vui và thật nhiều ý nghĩa
                            </h5>
                            <p class="card-text">
                                Viện Nghiên cứu Quản lý Phát triển bền vững (MSD)
                            </p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-primary">Quyên góp</a>
                        </div>
                    </div>

                    <div class="card" style="width: 18rem;">
                        <img 
                            src="https://static.mservice.io/blogscontents/momo-upload-api-220804120412-637952114524645368.jpg" 
                            class="card-img-top" 
                            alt="..."
                        >
                        <div class="card-body">
                            <h5 class="card-title">
                                Chung tay đem “Một Đêm Trăng Tròn” cho các cụ và các em nhỏ ở mái ấm có được một mùa Trung Thu cổ truyền đầy niềm vui và thật nhiều ý nghĩa
                            </h5>
                            <p class="card-text">
                                Viện Nghiên cứu Quản lý Phát triển bền vững (MSD)
                            </p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-primary">Quyên góp</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<%- include('./includes/end.ejs') %>
